.hero{
    background-color:#ffe6e6;
    overflow:hidden;
}
.heading h1{
    color:#ff6347;
    font-size:55px;
    text-align:center;
    margin-top:35px;
}
.container{
    display:flex;
    justify-content:center;
    align-items:center;
    width:90%;
    margin:65px auto;
}
.content2{
    flex:1;
    width:600px;
    margin:0px 25px;
}
.aimage{
    flex:1;
    width:600px;
    margin:auto;
    animation:fadeIpRight 2s ease;
}
img{
    width:100%;
    height:auto;
    border-radius:10px;

}
.content2 h2{
    font-size:38px;
    margin-bottom:20px;
    color:#0d0d0d;

}
.content2 p{
    font-size:24px;
    line-height: 1.5;
    margin-bottom:40px;
    color:#333333;
}
.content2 button{
    display:inline-block;
    background-color:#ff6347;
    color:#ffe6e6;
    padding:12px 24px;
    font-size:20px;
    border:none;
    cursor:pointer;
    transition:0.3s ease;

}
.content2 button:hover{
    background-color:#ffbb99;
    transform:scale(1.1);
}
@media screen and (max-width:768px){
    .heading h1{
      font-size:45px;
        margin-top:30px;
    }

    .hero{
        margin:0px;

    }
    .container{
        width:100%;
        flex-direction:column;
        margin:0px;
        padding:0px 40px;

    }
    .content2{
        width:100%;
        margin:35px 0px;
        animation:fadeInUp 2s ease;
    }
    .content h2{
        font-size:30px;

    }
    .content p{
        font-size:18px;
        margin-bottom:20px ;
    }
    .content button{
        font-size:16px;
        padding:8px 16px;

    }
    .aimage{
        width:100%;

    }
}
@keyframes fadeInUp{
    0%{
        opacity:0%;
        transform:translateY(50px );
    }
    100%{
        opacity:0%;
        transform:translateY(0px );
    }
}
@keyframes fadeInRight{
    0%{
        opacity:0%;
        transform:translateY(-50px );
    }
    100%{
        opacity:1;
        transform:translateY(0px );
    }
}
.image-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 50px auto;
    width: 90%;
    font-family: "Eras Bold ITC";
    font-weight: bold;


}

.gallery-item {
    flex: 1;
    margin: 15px;
    text-align: center;
}

.gallery-item img {
    width: 105%;
    height: 500px;
    position:relative;
    object-fit: cover;
}

.gallery-item p {
    font-size: 18px;
    color: #333333;
    margin-top: 10px;
    text-align:center;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
    .image-gallery {
        flex-wrap: wrap;
    }
    .gallery-item {
        flex: 1 1 100%;
        margin: 10px 0;
    }
}
