*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Segoe Print',sans-serif;
}
body{
    background:#fff5e6;
    font-family:'monospace',sans-serif;
}
.menu{
    padding: 0 10px 30px 10px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
    grid-gap:20px 40px;
}
.heading{
    background:#ff1a1a;
    color:#0d0d0d;
    margin-bottom:30px;
    padding:30px 0;
    grid-column:1/-1;
    text-align:center;
}
.heading>h1{
    font-weight:400;
    font-size:32px;
    letter-spacing:10px;
    margin-bottom:10px;
    text-transform:uppercase;
}
.heading>h3{
    font-weight:600;
    font-size:22px;
    letter-spacing:5px;
    text-transform:uppercase;
}
.food-items{
    display:grid;
    position:relative;
    grid-template-rows: auto 1fr;
    border-radius:15px;
    box-shadow:0 0 15px #0d0d0d;
    transition:.2s ease-in-out;
}
.food-items img{
    position:relative;
    width:100%;
    height: 200px;
    border-radius:15px 15px 0 0;
    cursor:pointer;

}
h1{
    grid-column:1/-1;
    text-align:center;
}
.details{
    padding:20px 20px;
    display:grid;
    grid-template-rows:auto 1fr 50px;
    grid-row-gap:15px;
}
.details-sub{
    display:grid;
    grid-template-columns: auto auto;
}
.details-sub>h5{
    font-weight: 600;
    font-size:10px;
}
.price{
    text-align:right;
}
.details>p{
    color:#808080;
    font-size:15px;
    line-height: 28px;
    font-weight: 400;
    align-self:stretch;
}
.details>button{
    background: #cc0000;
    border:none;
    color:#fff5e6;
    font-size:16px;
    font-weight: 600;
    border-radius:5px;
    width:100px;
    cursor:pointer;
}
.details>button:hover{
    background:#ff1a1a;
}